@font-face {
    font-family: 'VerdanaCustom';
    src: url('Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'VerdanaCustom';
    src: url('Verdana-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  body {
    font-family: 'VerdanaCustom', Verdana, sans-serif;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .header{
    background-color: rgba(0, 0, 0, 0.41);
    color: white;
  }

  .header .left-side .main-page-link{
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 16px 0 18px 81px;
  }
  .header .left-side .main-page-link:hover{
    color: #3cb878;
  }
  .header .right-side{
    display: flex;
  }